<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.example.demo.mapper.local.BookMapper" >
  <resultMap id="BaseResultMap" type="com.example.demo.dao.entity.vue.Book" >
    <!--
      WARNING - @mbggenerated
    -->
    <id column="id" property="id" jdbcType="BIGINT" />
    <result column="name" property="name" jdbcType="VARCHAR" />
    <result column="chargePerson" property="chargeperson" jdbcType="VARCHAR" />
    <result column="borrowTime" property="borrowtime" jdbcType="TIMESTAMP" />
    <result column="returnTime" property="returntime" jdbcType="TIMESTAMP" />
  </resultMap>
</mapper>